{% extends 'base.html' %}
{% block content %}

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmer la Suppression Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Etes vous sur de vouloir supprimer cette critique: {{ review.title }}? 
                {% if not_owner %}
                    <div class="alert alert-warning" role="alert">
                        Action Impossible: Vous n'etes pas l'auteur de cette critique !!! 
                    </div>
                {% endif %}
            </div>
            <div class="modal-footer">
                {% if not not_owner %}
                    <form method="post" action="{% url 'delete_review' review.id %}">
                        {% csrf_token %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                {% else %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#deleteModal').modal('show');
        $('#deleteModal').on('hidden.bs.modal', function (e) {
            window.location.href = "{% url 'ticket-list' %}";  
        });
    });
</script>

{% endblock content %}
