{% extends 'base.html' %}

{% block content %}
<h2>{{ ticket.title }}</h2>
<p>Publié par : {{ ticket.user }}</p>
{% if ticket.image %}
<img src="{{ ticket.image.url }}" alt="{{ ticket.title }}" width="300">
{% endif  %}
<h3>Description:</h3>
<p>{{ ticket.description }}</p>

{% if request.user == ticket.user %}
<a href="{% url 'update_ticket' ticket.id %}" > Modifier le billet</a>
<a href="{% url 'delete_ticket' ticket.id %}" >Supprimer le billet</a>
{% endif %}

{% if not user_has_reviewed %}
    <a href="{% url 'add_review_to_ticket' ticket.id %}">Ajouter une critique</a>
{% endif %}


{% if reviews %}
{% for review in reviews %}

<h3>Critique littéraire rédigée par {{ review.user }}:</h3>
<p>Note: {{ review.rating }}/5</p>
<h4>{{ review.headline }}</h4>
<p>{{ review.body }}</p>



{% if request.user == review.user %}
<a href="{% url 'update_review' review.id %}" > Modifier la critique</a>
<a href="{% url 'delete_review' review.id %}" > supprimer la critique</a>
{% endif %}

{% endfor %}

{% else %}
<p> Aucune revue n'est disponible pour ce billet.</p>
{% endif %}






# need to add a modal window for deletion



{% endblock  %}
