{% extends "base.html" %}
{% load static %}

{% block content %}


<h2>Feed Utilisateur</h2>

<h3>Billets et les critiques de tous les utilisateurs que je suis </h3>
{% if following_tickets or following_reviews %}
<ul>
    <h4>Billets</h4>
    {% for item in following_tickets %}
    <li>
           <strong>Billet:</strong><a href="{% url 'ticket_detail' item.id %}"> {{ item.title }} </a> par {{ item.user__username }}<br>
           <a href="{% url 'ticket_detail' item.id %}"> <img src="media/{{ item.image }}" alt="{{ item.title }}" width="150"><br></a>
        {{ item.description }}<br>
        Créé le: {{ item.time_created }}
    </li>
    {% endfor %}
    <h4>Critiques</h4>
    {% for item in following_reviews %}
    <li>
        <strong>Avis sur le billet intitulé :</strong> <a href="{% url 'ticket_detail' item.ticket_id %}">{{ item.ticket_title }}</a>  créé par {{ item.ticket_author }}<br>
        <strong>Titre de l'avis :</strong> {{ item.headline }} par {{ item.user__username }}<br>
        Note: {{ item.rating }}/5<br>
        {{ item.body }}<br>
        Créé le: {{ item.time_created }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Aucun billet ou avis des utilisateurs suivis pour le moment.</p>
{% endif %}

<h3>Les billets et critiques que j'ai publié</h3>
{% if my_tickets or my_reviews %}
<ul>
    {% for item in my_tickets %}
    <li>
        <strong>Billet par {{ item.user__username }}:</strong> <a href="{% url 'ticket_detail' item.id %}"> {{ item.title }}</a><br>
        <a href="{% url 'ticket_detail' item.id %}"> <img src="media/{{ item.image }}" alt="{{ item.title }}" width="150"></a><br>
        {{ item.description }}<br>
        Créé le: {{ item.time_created }}
    </li>
    {% endfor %}
    
    {% for item in my_reviews %}
    <li>
        <strong>Avis de {{ item.user__username }} sur le billet:</strong><a href="{% url 'ticket_detail' item.ticket_id %}">  {{ item.ticket__title }}</a><br>
        <strong>Avis:</strong> {{ item.headline }}<br>
        Note: {{ item.rating }}/5<br>
        {{ item.body }}<br>
        Créé le: {{ item.time_created }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Vous n'avez pas encore créé de billets ou donné d'avis.</p>
{% endif %}

<h3>Avis en réponse à mes billets (comprends les utilisateurs que je ne suis pas)</h3>
{% if my_ticket_reviews %}
<ul>
    {% for review in my_ticket_reviews %}
    <li>
        <strong>Avis:</strong> {{ review.headline }} par {{ review.user__username }}<br>
        Note: {{ review.rating }}/5<br>
        {{ review.body }}<br>
        Créé le: {{ review.time_created }}
        Ticket associé: <a href="{% url 'ticket_detail' review.ticket_id %}">{{ review.ticket__title }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Aucun avis en réponse à vos billets pour le moment.</p>
{% endif %}


<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      
        <img src="https://user.oc-static.com/upload/2023/06/29/168805567091_LITrevu%20banner.png" class="img-fluid" alt="...">
        
  
      
    </div>
  
    
  
    <div class="row g-5">
      <div class="col-md-8">
        <h1 class="pb-4 mb-4 fst-italic border-bottom">
          Posts et critiques des utilisateurs que je suis
        </h1>
  
        <article class="blog-post">
          <h2 class="display-5 link-body-emphasis mb-1">Sample blog post</h2>
          <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>
          <hr>
          <br><br>
          <img src="http://127.0.0.1:8000/media/media/Beyond_Good_and_Evil.png" class="rounded mx-auto d-block" alt="...">
          <br><br>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
             aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
               eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
               consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, 
                nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
                 quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
         
       
  
        </article>
  
  
      <!-- second section-->  
  
        <h1 class="pb-4 mb-4 fst-italic border-bottom">
          Posts et critiques que j'ai publié
        </h1>
  
        <article class="blog-post">
          <h2 class="display-5 link-body-emphasis mb-1">Sample blog post</h2>
          <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>
          <hr>
          <br><br>
          <img src="http://127.0.0.1:8000/media/media/Beyond_Good_and_Evil.png" class="rounded mx-auto d-block" alt="...">
          <br><br>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
             aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
               eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
               consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, 
                nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
                 quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
         
       
  
        </article>
  
       <!-- end of second section-->  
  
      </div>
  
      
  
  
  
  
  
  
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
          </div>
  
          <div>
            <h4 class="fst-italic">Critiques en réponse à mes billets</h4>
            <ul class="list-unstyled">
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                  
                  <img src="http://127.0.0.1:8000/media/media/Beyond_Good_and_Evil.png" class="img-thumbnail" alt="..." width="25%"  >
                  <div class="col-lg-8">
                    <h6 class="mb-0">Example blog post title</h6>
                    <small class="text-body-secondary">January 15, 2023</small>
                  </div>
                </a>
              </li>
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                  <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                  <div class="col-lg-8">
                    <h6 class="mb-0">This is another blog post title</h6>
                    <small class="text-body-secondary">January 14, 2023</small>
                  </div>
                </a>
              </li>
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                  <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
                  <div class="col-lg-8">
                    <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
                    <small class="text-body-secondary">January 13, 2023</small>
                  </div>
                </a>
              </li>
            </ul>
          </div>
  
          
  
          
        </div>
      </div>
    </div>
  
  </main>
  
  <footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    
    <p class="mb-0">
      <a href="#">Retour au début de la page</a>
    </p>
  </footer>
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  
      </body>
  </html>






{% endblock %}



