{% extends 'base.html' %}

{% block content %}
<div class="container">
  <main class="container">
    <div class="row g-5">
      <div class="col-md-12"> 

  <div style="text-align:center">  
    <br><br>  
<h2 >Suivre d'autres utilisateurs </h2>
<br>

<form method="get">
  
      <input type="text" name="q" placeholder="Nom d'utilisateur ">
      
      <input type="submit" value="Rechercher">
    
</form>


<br>
{% if results %}
<h2>Résultat de la recherche:</h2>
<br>
<ul class="list-group">
    {% for result in results %}
    <li class="list-group-item" >
        {{ result.user.username | capfirst}}
        {% if not result.followed %}
        <button type="button" class="btn btn-outline-warning"><a href="{% url 'follow_user' result.user.id %}">S'abonner</a></button>
        {% endif %}</li>
    
 
</ul>
{% endfor %}
{% endif %}


<br><br>
<hr>

 

<h2>Mes Abonnements:</h2>
<ul class="list-group">
      {% for relation in following %}
        <li class="list-group-item" >{{ relation.followed_user.username | capfirst }}  <button type="button" class="btn btn-outline-danger">    <a href="{% url 'unfollow_user' relation.followed_user.id %}">Se désabonner</a></button>
          {% endfor %}</li>
        
</ul>

<br><br>



<hr>

<h2>Mes Abonnés:</h2>
<br><br>
<ul class="list-group">
    {% for relation in followers %}
        <li class="list-group-item">{{ relation.user.username | capfirst }}</li>
        
    {% endfor %}
</ul>
<br><br>
</div></div></div>

<hr>

{% if user_not_found %}
<script>
    $(document).ready(function(){
        $('#userNotFoundModal').modal('show');
    });
</script>
{% endif %}
<div class="modal fade" id="userNotFoundModal" tabindex="-1" role="dialog" aria-labelledby="userNotFoundLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userNotFoundLabel">Utilisateur Inconnu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          L'utilisateur que vous recherchez n'existe pas.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  
</main>
</div>


{% endblock %}


